<div class='newsletter'>
<h1>Newsletter</h1>
<p>Melden Sie sich zu unserem Newsletter an:</p>
  <form action="https://t48649f7b.emailsys1a.net/26/1209/27d19e6c70/subscribe/form.html" method="post" target="_blank">
      <div class="form">
          <div class="form_border">
              <ul>
                  <li style="position:absolute; z-index: -100; left:-6000px;" aria-hidden="true">
                      <input type="text" class="form_field" name="rm_email" value="" tabindex="-1" />
                  </li>
                  <li>
                      <label class="field_label required" for="email">E-Mail: </label>
                  </li>
                  <li class="email">
                      <input type="text" class="form_field" name="email" id="email" value="" />
                  </li>
                  <li class="form_button">
                      <input type="submit" class="form_button_submit" value="Anmelden" />
                  </li>
              </ul>
          </div>
      </div>
  </form>
</div>
