.block-fpe-content
  .views-element-container > div
    display: flex
    flex: 999 0 auto

  header
    padding-top: 1rem
  
  .views-row
    width: 33.333%
    hyphens: auto

  article
    display: flex
    flex-direction: column-reverse
    padding: 0 15px

    .submitted
      color: $pirates-yellow
      padding: 0 1.1rem
      font-size: 0.7rem

    img
      width: 100%;
      height: 10rem;
      object-fit: cover;  

  .feed-icon
    display: none

  h2
    font-size: 1.1rem
    font-weight: normal

  .article__tags
    display: none


.block-fpe-content h2:before
  content: ''
  width: 0px
  height: 0px
  border-style: solid
  border-width: 10px 0px 10px 15px
  border-color: transparent transparent transparent $pirates-yellow
  display: inline-block
  vertical-align: middle
  margin-right: 5px

