.block-fpe-content
  .views-element-container > div
    display: flex
    flex: 999 0 auto

  .views-row
    width: 33.333%
    hyphens: auto

  article
    display: flex
    flex-direction: column-reverse
    padding: 0 15px

    img
      width: 100%
  
  .feed-icon
    display: none