$hero-height: 100px

.view-next_game
	.team--layout-hero
		> header
			display: none

	.views-row
		background-color: $pirates-white
		color: $pirates-blue
		text-transform: uppercase
		border-bottom: 3px solid $pirates-yellow
		width: 100%
		display: table
		table-layout: fixed
		> *
		  display: table-cell
		  vertical-align: middle

		// next game
		.views-field-id-1
			text-align: center
			width: 17rem
			font-size: 2rem
			@include media($large-screen-up)
				font-size: 3rem
				width: 24rem
			.next-game--label
				line-height: $hero-height
				text-align: center
		// vs.				
		.views-field-id
			padding: 0 $base-spacing
			width: 4rem
		.views-field-field-timestamp
			text-align: right
			padding-right: $small-spacing
		.views-field-field-team-verein-2,
		.views-field-field-team-verein-3
			min-width: 150px
		.verein__hero
			height: $hero-height
			@include salmi
			padding: 0
			overflow: hidden
			a
				@include fill-parent
		.verein__image
			display: flex
			justify-content: center
			img
				display: block
				height: $hero-height * 1.6
				max-width: unset
				width: auto
				margin-top: -$hero-height / 4

