$hero-height: 100px

.game--layout-hero
	@include row
	background-color: $pirates-white
	color: $pirates-blue
	border-bottom: 3px solid $pirates-yellow

	> header
		width: 30%
		float: left
		.game__title
			font-weight: normal
			text-align: center
			@include media($large-screen-up)
				font-size: $hero-height / 3
			margin: 0
			line-height: $hero-height
			&:before
				content: 'Next'
			@include media($medium-screen-up)
				&:before
					content: 'Next Game'
			a
				display: none
		.submitted
			display: none
	> .content
		width: 70%
		float: left
		font-size: 0.666rem
		@include media($medium-screen-up)
			font-size: inherit

	.game__home-team,
	.game__guest-team
		width: 30%
		float: left
		padding: 0 $small-spacing
		.verein__hero
			height: $hero-height
			align-items: center
			@include salmi
			padding: 0
			overflow: hidden
			a
				@include fill-parent
		.verein__image
			img
				margin: -25% auto
				display: block
				height: $hero-height * 2
				max-width: unset
	.game__timestamp,
	.game__location
		padding: 0 $small-spacing
		width: 40%
		float: left
		text-align: right
	.game__timestamp
		margin-top: 1.5rem

	.team--layout-hero
		> header
			display: none