#block-fpe-branding
  background-color: $pirates-blue
  background: url(../../images/optimized/header_bg_left.svg), url(../../images/optimized/pirates-logo.svg) 
  background-repeat: no-repeat 
  background-position: left center, right center
  background-size: contain, 40%