$hero-padding: 1.5rem
.article.hero
  position: relative
  header
    position: absolute
    right: 0
    top: 30%
    text-align: right    
  h2
    font-size: 2.5em
    font-weight: 800
    margin: 0
    div
      display: inline-block
      padding: 1rem $hero-padding
      max-width: 700px
      background-color: transparentize($pirates-yellow, .6)
  h3
    div
      display: inline-block
      color: $pirates-yellow
      background-color: $pirates-blue
      padding: .5rem $hero-padding