.block-views-block-tabelle-block-1
  background-image: url(../../images/optimized/pirates-head-10.svg)
  background-repeat: no-repeat
  background-size: 110%
  background-position: 110% center
  padding: $base-spacing 0
  @include media($small-screen-only)
    font-size: 12px
  @include media($medium-screen-up)
    padding: $base-spacing

  h2
    background-color: $pirates-yellow
    @include clip-path(polygon(0 0,100% 0, 90% 100%,0 100%))
    color: $pirates-blue
    display: inline-block
    padding: 8px 50px 8px 10px
    margin-top: 1.5rem
    margin-bottom: 5px
    font-size: $base-font-size
    font-weight: 600
    @include media($medium-screen-up)
      font-size: 1.75rem

  table
    th,
    td
      padding: 0
      height: 2rem
    thead
      th
        &:nth-of-type(2)
          @include media($small-screen-up)
            width: 45%
          @include media($medium-screen-up)
            width: 70%
        
    td.views-field-field-platz
      font-size: $base-font-size * 0.8125
      @include media($medium-screen-up)
        font-size: $font-size-h1 * 0.875

    td
      .verein__image
        display: none
        @include media($medium-screen-up)
          display: inline-block
          @include salmi
          padding: 0
          margin: 0 $base-spacing 0 2.5rem
          background-color: $pirates-white
          width: 100px
          overflow: hidden
          vertical-align: middle
          // label
          > div:first-child
            display: none
          // image wrapper
          > div:last-child
            height: 50px
          img
            display: none
            @include media($medium-screen-up)
              width: 100px
              height: unset
              max-width: unset
              display: inline
              transform: translateY(-10%)
            @include media($large-screen-up)
              width: 200px
        @include media($large-screen-up)
          width: 200px
          > div:last-child
            height: 100px
