.block-views-block-tabelle-block-1
  padding: $base-spacing 0
  @include media($small-screen-only)
    font-size: 12px
  @include media($medium-screen-up)
    padding: $base-spacing

  h2
    background-color: $pirates-yellow
    @include clip-path(polygon(0 0,100% 0, 90% 100%,0 100%))
    color: $pirates-blue
    display: inline-block
    padding: 5px 60px 5px 10px
    margin-bottom: 5px
    font-size: 1.2rem
    font-weight: 600

  table
    margin: 0
    table-layout: auto
    th,
    td
      padding: 0      
    
    thead
      th
        color: $pirates-blue
        border: 0
        font-size: 12px
        text-transform: uppercase
        margin-left: 5px
        width: calc(100% + 5px)
        span
          display: block
          line-height: 2
          @include clip-path(polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%))
          background-color: $pirates-white
        &:first-child
          @include media($small-screen-up)
            width: 17%
          @include media($medium-screen-up)
            width: 7%
          span
            @include clip-path(polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%))
        &:last-child
          span
            @include clip-path(polygon(1rem 0, 100% 0, 100% 100%, 0 100%))
        &:nth-of-type(2)
          @include media($small-screen-up)
            width: 45%
          @include media($medium-screen-up)
            width: 70%
          span
            padding-left: $base-spacing
    
    td.views-field-field-platz
      @include media($medium-screen-up)
        font-size: 20px

    td
      padding: 0
      height: 2rem
      img
        @include media($small-screen-only)
          display: none
        background-color: $pirates-white
        width: 200px
        height: 100px
        @include clip-path(polygon(30% 0,100% 0,70% 100%,0 100%))
