.block-views-block-tabelle-block-1
  padding: $base-spacing

  h2
    background-color: $pirates-yellow
    @include clip-path(polygon(0 0,100% 0, 90% 100%,0 100%))
    color: $pirates-blue
    display: inline-block
    padding: 5px 60px 5px 10px
    margin-bottom: 5px
    font-size: 1.2rem
    font-weight: 600

  table
    margin: 0
    th,
    td
      padding: 0
    
    thead
      th
        color: $pirates-blue
        border: 0
        font-size: 12px
        text-transform: uppercase
        margin-left: 5px
        width: calc(100% + 5px)
        span
          display: block
          line-height: 2
          @include clip-path(polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%))
          background-color: $pirates-white
        &:first-child
          span
            @include clip-path(polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%))
        &:last-child
          span
            @include clip-path(polygon(1rem 0, 100% 0, 100% 100%, 0 100%))
        &:nth-of-type(2)
          width: 70%
          span
            padding-left: $base-spacing
    
    td.views-field-field-platz
      font-size: 20px

    td.views-field-field-image
      display: flex
      flex-direction: row
      align-items: center

    td
      padding: 0
      img
        background-color: $pirates-white
        width: 200px
        height: 100px
        @include clip-path(polygon(30% 0,100% 0,70% 100%,0 100%))

