.block-livescore
  padding: $small-spacing
  
  h2
    color: $pirates-yellow
    font-size: 1.2rem
    font-weight: 500

  .metadata
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 0.75rem
    font-style: italic

  .score
    