// Navigation styles
.navigation
  &.menu--main
    background: $pirates-white
    text-transform: uppercase
    color: $pirates-blue
    text-align: center
    a
      color: $pirates-blue

    // mobile
    @include media($small-screen-only)
      line-height: 2
      &:before
        display: block
        background: url(../../images/optimized/menu.svg) right $small-spacing center no-repeat
        background-size: 1rem
        content: 'Menü'
        text-align: right
        padding: 0 1rem + 2 * $small-spacing
      a
        display: block
        &.is-active
          color: $pirates-white
          background-color: $pirates-blue
      > ul
        display: none
      &.open
        > ul
          display: block

      .menu-item--expanded
        > a
          background-image: url(../../images/optimized/arrow-down.svg)
          background-position: right $small-spacing top 1rem
          background-repeat: no-repeat
          background-size: 1rem
        > .menu
          display: none
        &.menu-item--active-trail
          > .menu
            display: block
          > a
            color: inherit
            background-color: $pirates-yellow

    // desktop
    @include media($medium-screen-up)
      padding: 0 $base-spacing 0 240px
      @include media($medium-screen-only)
        padding-left: 140px
      .menu-item--active-trail
        > a
          color: $pirates-yellow
      .menu
        list-style-type: none
        display: flex
        justify-content: space-between
        line-height: 3.5
        @include media($large-screen-up)
          font-size: $base-font-size * 1.125
        &-item
          > .menu
            display: none
            &:hover
              display: block
            background-color: transparent
            font-size: 90%
            position: absolute
            z-index: 1
            line-height: 2
            &:before
              z-index: 10
              content: ''
              display: inherit
              background-image: url(../../images/optimized/arrow-up.svg)
              background-repeat: no-repeat
              background-position: 25% bottom
              background-size: 10px
              height: 5px
            .menu-item
              padding: 0 2 * $base-spacing
              background-color: $pirates-white
              &.is-active,
              &:hover
                background-color: $pirates-yellow
                color: $pirates-blue
              a
                display: block
                &:hover
                  color: inherit
              &:first-child
                border-top: 2px solid $pirates-yellow
          &:hover
            > .menu
              display: block

.menu--fussbereich-user, .menu--footer
  background-color: $pirates-blue
  padding: 10px 0px

  .menu
    display: flex
    justify-content: flex-start
    margin: $base-spacing $small-spacing 0 $small-spacing
    @include media($medium-screen-up)
      margin: $base-spacing

    .menu-item
      color: white
      padding: 0 0.5rem
      font-size: $base-font-size * 0.625
      @include media($medium-screen-up)
        font-size: $base-font-size * 0.75
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0

    a
      text-transform: uppercase
      color: white
      &.is-active
        color: $pirates-yellow

    li
      margin: 0
      display: flex
      flex-direction: column
      justify-content: center

    li:first-child
      border-right: 1px solid

    li:nth-child(2)
      flex-grow: 2

    li:nth-last-child(3),
    li:nth-last-child(2),
    li:last-child
      padding: 0 0.2rem
      a
        display: inline-block
        content: ' '
        color: rgba(0, 0, 0, 0)
        background-size: 32px 32px
        height: 32px
        width: 32px
        @include media($medium-screen-up)
          background-size: 32px 32px
          height: 32px
          width: 32px

    li:nth-last-child(3)
      a
        background-image: url(../../images/optimized/instagram.svg)

    li:nth-last-child(2)
      a
        background-image: url(../../images/optimized/facebook.svg)

    li:last-child
      a
        background-image: url(../../images/optimized/rss.svg)


