// Navigation styles
.navigation
  padding: 12px 60px 12px 260px
  background: $pirates-white
  .menu
    list-style-type: none
    display: flex
    justify-content: space-between
    font-size: $base-font-size * 1.125
    &-item
      margin: 8px 0
      a
        text-transform: uppercase
        color: $pirates-blue
        &.is-active
          color: $pirates-yellow

.menu--fussbereich-user, .menu--footer
    background-color: $pirates-blue
    @include media($small-screen-up)
      padding: 10px 0px
    @include media($medium-screen-up)
      padding: 1rem 2rem

    .menu
      display: flex
      justify-content: flex-start
      margin-top: 1rem

      .menu-item
        color: white
        padding: 0 0.5rem
        font-size: $base-font-size * 0.625
        @include media($medium-screen-up)
          font-size: $base-font-size * 0.75

      a
        text-transform: uppercase
        color: white
        &.is-active
          color: $pirates-yellow

      li
        display: flex
        flex-direction: column
        justify-content: center
      
      li:first-child
        border-right: 1px solid

      li:nth-child(2)
        flex-grow: 2

      li:nth-last-child(2)
        a
          display: inline-block
          content: ' '
          background-image: url(../../images/optimized/facebook.svg)
          background-size: 40px 40px
          height: 40px
          width: 40px
          margin: -20px -5px 0 20px
          overflow: overlay
          color: rgba(0, 0, 0, 0)

      li:last-child
        a
          display: inline-block
          content: ' '
          background-image: url(../../images/optimized/rss.svg)
          background-size: 40px 40px
          height: 40px
          width: 40px
          margin-top: -20px
          overflow: overlay
          color: rgba(0, 0, 0, 0)

  
