body.detail-team
  .block-fpe-content
    padding: 0
  .block-fpe-page-title
    display: none

  article.team--layout-full
    display: flex
    flex-direction: column
    .team__image
      order: 0
    h1
      order: 1
      @include centered-container
      margin-top: $base-spacing
      margin-bottom: $small-spacing
      font-size: $base-font-size * 1.875
      @include media($medium-screen-up)
        font-size: $base-font-size * 3.125      
    .team__body
      order: 2
      font-size: $base-font-size * 0.8125
      @include media($medium-screen-up)
        font-size: $base-font-size            
      @include centered-container
    .team__coaches
      order: 3
      @include centered-container
      > div:first-of-type
        color: $pirates-yellow
        padding-bottom: 1rem
        font-size: 1.5rem
        @include media($medium-screen-up)
          font-size: $base-font-size * 1.875
      > div:nth-child(2)
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        font-size: $base-font-size * 0.8125
        header
          display: none
        img
          height: 250px
        .coach__coach-name
          font-size: $base-font-size
        .coach__coach-pirate-seit
          > div:first-of-type
            display: none
          > div:nth-child(2)
            &:before
              content: "Pirate seit: "
        .coach__coach-position
          > div:first-of-type
            display: none
          > div:nth-child(2)
            padding-bottom: 2rem
            &:before
              content: "Pos: "
        .coach__coach-sortierung
          display: none
  .block-views-block-roster-block-1
    @include centered-container
    h2
      color: $pirates-yellow
      padding-bottom: 1rem
      font-weight: 200
      @include media($medium-screen-up)
        font-size: $base-font-size * 1.875
    li
      display: flex
      justify-content: space-between
      > span:nth-child(2)
        padding: 0 1em
      > span:nth-child(3)
        flex-grow: 2
        padding: 0 1em
