// Everything news list related
$_hero-offset-from-bottom: 2 * $base-spacing
$_hero-base-font-size: 1rem
$_learn-more-height: 2 * $_hero-base-font-size
$_hero-padding-left: 3 * $base-spacing

body.page-news
  .block-fpe-content
    padding: 0
  .block-fpe-page-title
    display: none

  .image-hero
    background-repeat: no-repeat
    background-size: cover
    padding-top: percentage(9 / 21)

  .view-news
    @include row
    margin: 0 $small-spacing
    .news-item
      position: relative
      margin-bottom: $base-spacing
      
      // Images
      // It is important to hide the parent so that the hero image is only loaded for first article
      .views-field-field-image
        display: none

      // Hero
      &:first-child
        width: -moz-calc(100% + 1.5rem)
        width: calc(100% + 1.5rem)
        margin-left: -$small-spacing
        // Hack für die News Überschrift die an der falschen Stelle im DOM hängt
        margin-bottom: $font-size-h2 + 2 * $base-spacing
        &:after
          content: 'News'
          position: absolute
          color: $pirates-yellow
          font-size: $base-font-size
          @include media($medium-screen-up)
            font-size: $font-size-h2
          margin: $base-spacing 0 $small-spacing $small-spacing
          text-transform: uppercase
          
        .views-field-field-image
          display: block
        .image-small,
        .views-field-created,
        .views-field-term-node-tid
          display: none
        // Headline
        .views-field-field-hero-headline
          position: absolute
          right: 0
          bottom: $small-spacing + ($_learn-more-height * 2 / 3)
          @include media($medium-screen-up)
            bottom: $_hero-offset-from-bottom + (1.2 * $_learn-more-height * 2 / 3)
          text-align: right
          padding: $small-spacing $small-spacing $small-spacing $_hero-padding-left
          max-width: 90%
          @include media($medium-screen-up)
            max-width: 75%
          @include media($large-screen-up)
            max-width: 50%
          background-color: transparentize($pirates-blue, .25)
          @include clip-path(polygon($_hero-padding-left 0,100% 0,100% 100%,0 100%))
          h2
            margin: 0
            font-size: $_hero-base-font-size * 1.3
            font-weight: 700
            @include media($medium-screen-up)
              font-size: $_hero-base-font-size * 1.8
            @include media($large-screen-up)
              font-size: $_hero-base-font-size * 2.2
              font-weight: 800

        // Mehr erfahren im Hero
        .views-field-view-node
          position: absolute
          bottom: $small-spacing
          @include media($medium-screen-up)
            bottom: $_hero-offset-from-bottom
          right: $base-spacing
          @include salmi
          background-color: $pirates-yellow
          font-size: $_hero-base-font-size
          font-weight: 600
          @include media($medium-screen-up)
            font-size: $_hero-base-font-size * 1.2
          a
            @include inverted-link

      // Alle anderen Artikel
      $_article_base_font_size: 1.125rem

      &:not(:first-child)
        display: flex !important
        flex-flow: row wrap
        & > *
          flex: 1 100%

        .views-field-field-image-1
          order: 0
        .views-field-field-hero-headline
          order: 1
        .views-field-created
          order: 2
          flex: 0 auto
        .views-field-term-node-tid
          order: 2
          flex: 1 auto
        .views-field-view-node
          display: none
        @include media($small-screen-only)
          @include span-columns(1 of 1)
        @include media($medium-screen-only)
          @include span-columns(6 of 12)
          &:nth-child(2n+1)
            margin-right: 0
          &:nth-child(2n+2)
            clear: left
        @include media($large-screen-up)
          @include span-columns(4 of 12)
          &:nth-child(3n+1)
            margin-right: 0
          &:nth-child(3n+2)
            clear: left

        .views-field-field-hero-headline
          @include right-arrow($_article_base_font_size)
          margin-top: 2rem
          display: flex
          h2
            font-size: $_article_base_font_size
            font-weight: 600
            @include hyphens-auto

        .views-field-created,
        .views-field-term-node-tid
          font-size: $_article_base_font_size * 0.75
          color: $pirates-yellow
        .views-field-created
          margin-left: $_article_base_font_size
          margin-right: $small-spacing / 2
        .views-field-term-node-tid
          &:before
            content: '- '

      img
        width: 100%
