body.detail-page
  .block-fpe-content
    padding: 0
  .block-fpe-page-title
    display: none
  .page--layout-full
    display: flex
    flex-direction: column
    .article__image
      order: 0
    h1
      order: 1
      @include centered-container
      margin-top: $base-spacing
      margin-bottom: $small-spacing
      font-size: $base-font-size * 1.875
      @include media($medium-screen-up)
        font-size: $base-font-size * 3.125      
    .page__body
      order: 2
      font-size: $base-font-size * 0.8125
      @include media($medium-screen-up)
        font-size: $base-font-size            
      @include centered-container

body.page-user-login
  h1
    padding: $base-spacing
  form
    padding: $base-spacing
    input
      width: 50%
    .button
      width: auto