.sponsor .view
  background-color: $pirates-white
  padding: $base-spacing
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  align-items: center

  img
    height: auto
    width: 10rem
    @include media($medium-screen-up)
      width: 20rem
    margin: 5px
