.page-sponsoren 
  .sponsor
    header
      text-align: center
      .sponsor-headline
        font-family: $script-font-family
        font-weight: 400
        color: $pirates-yellow
        padding: 6rem 1rem 1rem
        font-size: 2rem
        @include media($medium-screen-up)
          font-size: 5rem
      .sponsor-subheadline
        font-size: $base-font-size * 0.75
        padding: 3rem 1rem
        @include media($medium-screen-up)
          font-size: $base-font-size

.section-sponsoren .block-fpe-page-title
  display: none

.sponsor 
  .view, .views-row
    background-color: $pirates-white
    padding: $base-spacing
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center

    .views-row
      padding: 0 $base-spacing

  .horizontal
    padding-bottom: 4rem

  .title
    padding-top: $small-spacing
    padding-bottom: 3rem
    text-align: center
    h3
      color: $pirates-blue
      background-color: $pirates-yellow
      font-size: $base-font-size
      @include media($medium-screen-up)
        font-size: $font-size-h3
      @include salmi

  img
    height: auto
    margin: 5px
    width: 10rem
    @include media($medium-screen-up)
      width: 15rem

  .title.Platin
    @include horizontal-line($pirates-platin)
    h3
      background: $pirates-platin
      color: #102145
  .Platin    
    img
      width: 15rem

  .title.Gold
    @include horizontal-line($pirates-gold)
    h3
      background: $pirates-gold
      color: #12233d
  .Gold  
    img
      width: 12rem

  .title.Silber 
    @include horizontal-line($pirates-silver)
    h3
      background: $pirates-silver
      color: #142249
  .Silber  
    img
      width: 10rem

  .title.Bronze 
    @include horizontal-line($pirates-bronze)
    h3
      background: $pirates-bronze
      color: #13213e
  .Bronze  
    img
      width: 10rem

  .title.Partner 
    @include horizontal-line($pirates-yellow)
    h3
      background: $pirates-yellow
      color: $pirates-blue
  .Partner
    img
      width: 10rem
