html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

#block-fpe-branding {
  background-color: #0c2340;
  background: url(../../images/optimized/header_bg_left.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.navigation {
  padding: 12px 60px 12px 260px;
  background: #fff;
}

.navigation .menu {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .menu-item {
  margin: 8px 0;
}

.navigation .menu-item a {
  text-transform: uppercase;
  color: #0c2340;
}

.navigation .menu-item a.is-active {
  color: #ffd100;
}

.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

.pager__item {
  display: inline;
}

.pager__item a {
  display: inline-block;
}

@media only screen and (min-width: 641px) {
  .news-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 999 0 auto;
        flex: 999 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1.5em;
  }
}

.news-items header {
  padding-top: 16px;
  padding-top: 1rem;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .news-items .frontpage-news:nth-last-of-type(2n) {
    display: none;
  }
}

.news-items .news-item {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .news-items .news-item {
    width: 33%;
  }
}

@media only screen and (min-width: 1025px) {
  .news-items .news-item {
    width: 20%;
  }
}

.news-items .news-item article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  padding: 0 0.75em;
  margin-bottom: 1.5em;
  height: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.news-items .news-item article .submitted {
  color: #ffd100;
  font-size: 75%;
  margin-left: 17.6px;
  margin-left: 1.1rem;
}

.news-items .news-item article img {
  height: 240px;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 641px) {
  .news-items .news-item article img {
    height: 10rem;
  }
}

.news-items .news-item h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 17.6px;
  margin-left: 1.1rem;
}

.news-items .article__tags,
.news-items .feed-icon,
.news-items .author {
  display: none;
}

.news-items h2:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8.8px 0 8.8px 8.8px;
  border-width: 0.55rem 0 0.55rem 0.55rem;
  border-color: transparent transparent transparent #ffd100;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.2px;
  margin-right: 0.2rem;
  margin-left: -17.6px;
  margin-left: -1.1rem;
}

.article.article--layout-hero {
  position: relative;
}

.article.article--layout-hero header {
  position: absolute;
  right: 0;
  bottom: 8px;
  bottom: 0.5rem;
}

@media only screen and (min-width: 641px) {
  .article.article--layout-hero header {
    bottom: 2rem;
    text-align: right;
  }
}

.article.article--layout-hero h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
}

@media only screen and (min-width: 1025px) {
  .article.article--layout-hero h2 {
    font-size: 2.5rem;
  }
}

.article.article--layout-hero h2 div,
.article.article--layout-hero h2 span {
  display: block;
  padding: 7.2px 16px;
  padding: 0.45rem 1rem;
  background-color: rgba(255, 209, 0, 0.45);
}

@media only screen and (min-width: 641px) {
  .article.article--layout-hero h2 div,
  .article.article--layout-hero h2 span {
    padding: 0.45rem 1rem 0.45rem 3.77595rem;
    display: inline-block;
    max-width: 80%;
    clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
  }
}

.article.article--layout-hero h3 {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}

@media only screen and (min-width: 641px) {
  .article.article--layout-hero h3 {
    margin-top: -0.45rem;
  }
}

@media only screen and (min-width: 1025px) {
  .article.article--layout-hero h3 {
    font-size: 1.4rem;
  }
}

.article.article--layout-hero h3 div,
.article.article--layout-hero h3 span {
  display: inline-block;
  color: #ffd100;
  background-color: #0c2340;
  padding: 5.6px 16px;
  padding: 0.35rem 1rem;
}

@media only screen and (min-width: 641px) {
  .article.article--layout-hero h3 div,
  .article.article--layout-hero h3 span {
    padding: 0.35rem 1rem 0.35rem 2.76211rem;
    clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
  }
}

body.detail-article #block-fpe-page-title {
  display: none;
}

body.detail-article article.article--layout-full {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

body.detail-article article.article--layout-full .article__image {
  -ms-flex-order: 0;
      order: 0;
}

body.detail-article article.article--layout-full h1 {
  -ms-flex-order: 1;
      order: 1;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

@media only screen and (min-width: 641px) {
  body.detail-article article.article--layout-full h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1025px) {
  body.detail-article article.article--layout-full h1 {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .submitted {
  -ms-flex-order: 3;
      order: 3;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  color: #ffd100;
  font-weight: bold;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 641px) {
  body.detail-article article.article--layout-full .submitted {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1025px) {
  body.detail-article article.article--layout-full .submitted {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .submitted .author {
  display: inline-block;
}

body.detail-article article.article--layout-full .submitted .author:before {
  content: '|';
}

body.detail-article article.article--layout-full .article__body {
  -ms-flex-order: 5;
      order: 5;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
}

@media only screen and (min-width: 641px) {
  body.detail-article article.article--layout-full .article__body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1025px) {
  body.detail-article article.article--layout-full .article__body {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .article__tags {
  -ms-flex-order: 10;
      order: 10;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
}

@media only screen and (min-width: 641px) {
  body.detail-article article.article--layout-full .article__tags {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1025px) {
  body.detail-article article.article--layout-full .article__tags {
    width: 800px;
  }
}