html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

#block-fpe-branding {
  background-color: #0c2340;
  background: url(../../images/optimized/header_bg_left.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.navigation {
  padding: 12px 60px 12px 260px;
  background: #fff;
}

.navigation .menu {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .menu-item {
  margin: 8px 0;
}

.navigation .menu-item a {
  text-transform: uppercase;
  color: #0c2340;
}

.navigation .menu-item a.is-active {
  color: #ffd100;
}

.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

.pager__item {
  display: inline;
}

.pager__item a {
  display: inline-block;
}

.block-fpe-content .views-element-container > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 999 0 auto;
      flex: 999 0 auto;
}

.block-fpe-content header {
  padding-top: 16px;
  padding-top: 1rem;
  padding-left: 20.8px;
  padding-left: 1.3rem;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.block-fpe-content .views-row {
  width: 33.333%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.block-fpe-content article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  padding: 0 15px;
  height: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.block-fpe-content article .submitted {
  color: #ffd100;
  font-size: 11.2px;
  font-size: 0.7rem;
}

.block-fpe-content article img {
  width: 100%;
  height: 160px;
  height: 10rem;
  object-fit: cover;
}

.block-fpe-content .feed-icon {
  display: none;
}

.block-fpe-content h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: normal;
}

.block-fpe-content .article__tags {
  display: none;
}

.block-fpe-content h2:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0px 10px 15px;
  border-color: transparent transparent transparent #ffd100;
  display: inline-block;
  vertical-align: middle;
  margin-left: -19.2px;
  margin-left: -1.2rem;
}

.article.hero {
  position: relative;
}

.article.hero header {
  position: absolute;
  right: 0;
  bottom: 32px;
  bottom: 2rem;
  text-align: right;
}

.article.hero h2 {
  font-size: 2.5em;
  font-weight: 800;
  margin: 0;
}

.article.hero h2 div {
  display: inline-block;
  padding: 7.2px 16px 7.2px 60.415px;
  padding: 0.45rem 1rem 0.45rem 3.77595rem;
  max-width: 700px;
  background-color: rgba(255, 209, 0, 0.45);
  -webkit-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path--moz-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path--ms-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path-clip-path: polygon(3.77595rem 0, 100% 0, 100% 100%, 0 100%);
}

.article.hero h3 {
  margin-top: -7.2px;
  margin-top: -0.45rem;
}

.article.hero h3 div {
  display: inline-block;
  color: #ffd100;
  padding: 5.6px 16px 5.6px 44.193px;
  padding: 0.35rem 1rem 0.35rem 2.76211rem;
  -webkit-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path--moz-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path--ms-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path-clip-path: polygon(1.76211rem 0, 100% 0, 100% 100%, 0 100%);
  background-color: #0c2340;
}