html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

#block-fpe-branding {
  background-color: #0c2340;
  background: url(../../images/optimized/header_bg_left.svg), url(../../images/optimized/pirates-logo.svg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: contain, 40%;
  height: 60px;
}

@media screen and (min-width: 720px) {
  #block-fpe-branding {
    height: 150px;
  }
}

.site-logo img {
  position: relative;
  z-index: 1;
  max-height: 70px;
  margin: 12px 0 -30px 10px;
}

@media screen and (min-width: 720px) {
  .site-logo img {
    max-height: 160px;
    margin: 20px 0 -30px 40px;
  }
}

.navigation {
  padding: 12px 60px 12px 260px;
  background: #fff;
}

.navigation .menu {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .menu-item {
  margin: 8px 0;
}

.navigation .menu-item a {
  text-transform: uppercase;
  color: #0c2340;
}

.navigation .menu-item a.is-active {
  color: #ffd100;
}

.menu--fussbereich-user, .menu--footer {
  background-color: #0c2340;
}

@media screen and (min-width: 320px) {
  .menu--fussbereich-user, .menu--footer {
    padding: 10px 0px;
  }
}

@media screen and (min-width: 720px) {
  .menu--fussbereich-user, .menu--footer {
    padding: 1rem 2rem;
  }
}

.menu--fussbereich-user .menu, .menu--footer .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.menu--fussbereich-user .menu .menu-item, .menu--footer .menu .menu-item {
  color: white;
  font-size: 10px;
  padding: 0 8px;
  padding: 0 0.5rem;
}

.menu--fussbereich-user .menu a, .menu--footer .menu a {
  text-transform: uppercase;
  color: white;
}

.menu--fussbereich-user .menu a.is-active, .menu--footer .menu a.is-active {
  color: #ffd100;
}

.menu--fussbereich-user .menu li, .menu--footer .menu li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu--fussbereich-user .menu li:first-child, .menu--footer .menu li:first-child {
  border-right: 1px solid;
}

.menu--fussbereich-user .menu li:nth-child(2), .menu--footer .menu li:nth-child(2) {
  -ms-flex-positive: 2;
      flex-grow: 2;
}

.menu--fussbereich-user .menu li:nth-last-child(2) a, .menu--footer .menu li:nth-last-child(2) a {
  display: inline-block;
  content: ' ';
  background-image: url(../../images/optimized/facebook.svg);
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin: -20px -5px 0 20px;
  overflow: overlay;
  color: transparent;
}

.menu--fussbereich-user .menu li:last-child a, .menu--footer .menu li:last-child a {
  display: inline-block;
  content: ' ';
  background-image: url(../../images/optimized/rss.svg);
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  overflow: overlay;
  color: transparent;
}

.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

.pager {
  text-align: center;
  padding: 16px;
  padding: 1rem;
}

.pager__item {
  display: inline;
}

.pager__items li {
  margin: 5px;
  background-color: white;
  color: #0c2340;
  border-style: solid;
  display: inline-block;
  -ms-transform: skewX(-36deg);
      transform: skewX(-36deg);
}

.pager__items li span {
  -ms-transform: skewX(36deg);
      transform: skewX(36deg);
  display: inline-block;
}

.pager__items .pager__page {
  border-color: white;
  border-width: 3.2px 48px;
  border-width: 0.2rem 3rem;
}

.pager__items .pager__button {
  border-color: #ffd100;
  background-color: #ffd100;
  border-width: 3.2px 20.8px;
  border-width: 0.2rem 1.3rem;
}

.pager__items a {
  color: #0c2340;
}

@media screen and (min-width: 720px) {
  .pager__items {
    overflow: hidden;
    text-align: center;
  }
  .pager__items:before, .pager__items:after {
    background-color: #ffd100;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .pager__items:before {
    right: 0.75rem;
    margin-left: -50%;
  }
  .pager__items:after {
    left: 0.75rem;
    margin-right: -50%;
  }
  .pager__items > * {
    display: inline-block;
  }
}

.news-items {
  margin: 0 12px;
  margin: 0 0.75rem;
}

@media screen and (min-width: 720px) {
  .news-items .view-unformatted {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 999 0 auto;
        flex: 999 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-items .news-item {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media screen and (min-width: 720px) {
  .news-items .news-item {
    width: 33%;
  }
}

@media screen and (min-width: 960px) {
  .news-items .news-item {
    width: 20%;
  }
}

@media screen and (min-width: 960px) {
  .news-items .news-item:last-child article {
    margin-right: 0;
  }
}

@media screen and (min-width: 720px) and (max-width: 959px) {
  .news-items .news-item:nth-last-child(-n+2) {
    display: none;
  }
  .news-items .news-item:nth-last-child(-n+3) article {
    margin-right: 0;
  }
}

.news-items .feed-icon {
  display: none;
}

.news-items article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  margin-right: 12px;
  margin-right: 0.75rem;
  height: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.news-items article header {
  margin-top: 16px;
  margin-top: 1rem;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-image: url(../../images/optimized/arrow.svg);
  background-repeat: no-repeat;
  background-size: 0.55rem;
  background-position-y: 4.4px;
  background-position-y: 0.275rem;
  padding-left: 17.6px;
  padding-left: 1.1rem;
}

.news-items article .submitted {
  color: #ffd100;
  font-size: 75%;
  margin-left: 17.6px;
  margin-left: 1.1rem;
  margin-bottom: 17.6px;
  margin-bottom: 1.1rem;
}

.news-items article img {
  height: 240px;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .news-items article img {
    height: 10rem;
  }
}

.news-items h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: normal;
}

.news-items .article__tags,
.news-items .author {
  display: none;
}

.news-items footer {
  margin-top: 12px;
  margin-top: 0.75rem;
}

.news-items footer .all-news-link {
  overflow: hidden;
  text-align: center;
}

.news-items footer .all-news-link:before, .news-items footer .all-news-link:after {
  background-color: #ffd100;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.news-items footer .all-news-link:before {
  right: 12px;
  right: 0.75rem;
  margin-left: -50%;
}

.news-items footer .all-news-link:after {
  left: 12px;
  left: 0.75rem;
  margin-right: -50%;
}

.news-items footer .all-news-link > * {
  display: inline-block;
}

.news-items footer .all-news-link > span {
  background-color: #ffd100;
  text-transform: uppercase;
  padding: 0 48px;
  padding: 0 3rem;
  margin: 0;
  line-height: 2;
  -ms-transform: skewX(-36deg);
      transform: skewX(-36deg);
}

.news-items footer .all-news-link > span > * {
  display: inline-block;
  -ms-transform: skewX(36deg);
      transform: skewX(36deg);
}

.news-items footer .all-news-link a {
  color: #0c2340;
}

.news-items footer .all-news-link a:focus, .news-items footer .all-news-link a:hover {
  color: #3d4f66;
}

.article.article--layout-hero {
  position: relative;
}

.article.article--layout-hero header {
  position: absolute;
  right: 0;
  bottom: 8px;
  bottom: 0.5rem;
}

@media screen and (min-width: 720px) {
  .article.article--layout-hero header {
    bottom: 2rem;
    text-align: right;
  }
}

.article.article--layout-hero h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

@media screen and (min-width: 960px) {
  .article.article--layout-hero h2 {
    font-size: 2.5rem;
  }
}

.article.article--layout-hero h2 div,
.article.article--layout-hero h2 span {
  display: block;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  background-color: rgba(255, 209, 0, 0.45);
}

@media screen and (min-width: 720px) {
  .article.article--layout-hero h2 div,
  .article.article--layout-hero h2 span {
    padding: 0.375rem 0.75rem 0.375rem 3.14662rem;
    display: inline-block;
    max-width: 80%;
    clip-path: polygon(3.14662rem 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(3.14662rem 0, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(3.14662rem 0, 100% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(3.14662rem 0, 100% 0, 100% 100%, 0 100%);
  }
}

.article.article--layout-hero h3 {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .article.article--layout-hero h3 {
    margin-top: -0.375rem;
  }
}

@media screen and (min-width: 960px) {
  .article.article--layout-hero h3 {
    font-size: 1.3rem;
  }
}

.article.article--layout-hero h3 div,
.article.article--layout-hero h3 span {
  display: inline-block;
  color: #ffd100;
  background-color: #0c2340;
  padding: 5.2px 12px;
  padding: 0.325rem 0.75rem;
}

@media screen and (min-width: 720px) {
  .article.article--layout-hero h3 div,
  .article.article--layout-hero h3 span {
    padding: 0.325rem 0.75rem 0.325rem 2.63624rem;
    clip-path: polygon(1.63624rem 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(1.63624rem 0, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(1.63624rem 0, 100% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(1.63624rem 0, 100% 0, 100% 100%, 0 100%);
  }
}

.game--layout-hero {
  display: block;
  background-color: #fff;
  color: #0c2340;
  border-bottom: 3px solid #ffd100;
}

.game--layout-hero::after {
  clear: both;
  content: "";
  display: block;
}

.game--layout-hero > header {
  width: 30%;
  float: left;
}

.game--layout-hero > header .game__title {
  font-weight: normal;
  text-align: center;
  margin: 0;
  line-height: 100px;
}

@media screen and (min-width: 960px) {
  .game--layout-hero > header .game__title {
    font-size: 33.33333px;
  }
}

.game--layout-hero > header .game__title:before {
  content: 'Next';
}

@media screen and (min-width: 720px) {
  .game--layout-hero > header .game__title:before {
    content: 'Next Game';
  }
}

.game--layout-hero > header .game__title a {
  display: none;
}

.game--layout-hero > header .submitted {
  display: none;
}

.game--layout-hero > .content {
  width: 70%;
  float: left;
  font-size: 10.656px;
  font-size: 0.666rem;
}

@media screen and (min-width: 720px) {
  .game--layout-hero > .content {
    font-size: inherit;
  }
}

.game--layout-hero .game__home-team,
.game--layout-hero .game__guest-team {
  width: 30%;
  float: left;
  padding: 0 12px;
  padding: 0 0.75rem;
}

.game--layout-hero .game__home-team .verein__hero,
.game--layout-hero .game__guest-team .verein__hero {
  height: 100px;
  -ms-flex-align: center;
      align-items: center;
  text-transform: uppercase;
  padding: 0 48px;
  padding: 0 3rem;
  margin: 0;
  line-height: 2;
  -ms-transform: skewX(-36deg);
      transform: skewX(-36deg);
  padding: 0;
  overflow: hidden;
}

.game--layout-hero .game__home-team .verein__hero > *,
.game--layout-hero .game__guest-team .verein__hero > * {
  display: inline-block;
  -ms-transform: skewX(36deg);
      transform: skewX(36deg);
}

.game--layout-hero .game__home-team .verein__hero a,
.game--layout-hero .game__guest-team .verein__hero a {
  width: 100%;
}

.game--layout-hero .game__home-team .verein__image img,
.game--layout-hero .game__guest-team .verein__image img {
  margin: -25% auto;
  display: block;
  height: 200px;
  max-width: unset;
}

.game--layout-hero .game__timestamp,
.game--layout-hero .game__location {
  padding: 0 12px;
  padding: 0 0.75rem;
  width: 40%;
  float: left;
  text-align: right;
}

.game--layout-hero .game__timestamp {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.game--layout-hero .team--layout-hero > header {
  display: none;
}

body.detail-article #block-fpe-page-title {
  display: none;
}

body.detail-article article.article--layout-full {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

body.detail-article article.article--layout-full .article__image {
  -ms-flex-order: 0;
      order: 0;
}

body.detail-article article.article--layout-full h1 {
  -ms-flex-order: 1;
      order: 1;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  body.detail-article article.article--layout-full h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  body.detail-article article.article--layout-full h1 {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .article__subheadline {
  -ms-flex-order: 2;
      order: 2;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  body.detail-article article.article--layout-full .article__subheadline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  body.detail-article article.article--layout-full .article__subheadline {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .submitted {
  -ms-flex-order: 3;
      order: 3;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  color: #ffd100;
  font-weight: bold;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 720px) {
  body.detail-article article.article--layout-full .submitted {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  body.detail-article article.article--layout-full .submitted {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .submitted .author {
  display: inline-block;
}

body.detail-article article.article--layout-full .submitted .author:before {
  content: '|';
}

body.detail-article article.article--layout-full .article__body {
  -ms-flex-order: 5;
      order: 5;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
}

@media screen and (min-width: 720px) {
  body.detail-article article.article--layout-full .article__body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  body.detail-article article.article--layout-full .article__body {
    width: 800px;
  }
}

body.detail-article article.article--layout-full .article__tags {
  -ms-flex-order: 10;
      order: 10;
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
}

@media screen and (min-width: 720px) {
  body.detail-article article.article--layout-full .article__tags {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  body.detail-article article.article--layout-full .article__tags {
    width: 800px;
  }
}

body.page-news .block-fpe-page-title {
  display: none;
}

body.page-news .image-hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 42.85714%;
}

body.page-news .view-news {
  display: block;
  margin: 0 12px;
  margin: 0 0.75rem;
}

body.page-news .view-news::after {
  clear: both;
  content: "";
  display: block;
}

body.page-news .view-news .news-item {
  position: relative;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

body.page-news .view-news .news-item .views-field-field-image {
  display: none;
}

body.page-news .view-news .news-item:first-child {
  width: calc(100% + 1.5rem);
  margin-left: -12px;
  margin-left: -0.75rem;
  margin-bottom: 72px;
  margin-bottom: 4.5rem;
}

body.page-news .view-news .news-item:first-child:after {
  content: 'News';
  position: absolute;
  color: #ffd100;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 24px 0 12px 12px;
  margin: 1.5rem 0 0.75rem 0.75rem;
  text-transform: uppercase;
}

body.page-news .view-news .news-item:first-child .views-field-field-image {
  display: block;
}

body.page-news .view-news .news-item:first-child .image-small,
body.page-news .view-news .news-item:first-child .views-field-created,
body.page-news .view-news .news-item:first-child .views-field-term-node-tid {
  display: none;
}

body.page-news .view-news .news-item:first-child .views-field-field-hero-headline {
  position: absolute;
  right: 0;
  bottom: 33.333px;
  bottom: 2.08333rem;
  text-align: right;
  padding: 12px 12px 12px 72px;
  padding: 0.75rem 0.75rem 0.75rem 4.5rem;
  max-width: 90%;
  background-color: rgba(12, 35, 64, 0.75);
  clip-path: polygon(4.5rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(4.5rem 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(4.5rem 0, 100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(4.5rem 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 720px) {
  body.page-news .view-news .news-item:first-child .views-field-field-hero-headline {
    bottom: 4.6rem;
  }
}

@media screen and (min-width: 720px) {
  body.page-news .view-news .news-item:first-child .views-field-field-hero-headline {
    max-width: 75%;
  }
}

@media screen and (min-width: 960px) {
  body.page-news .view-news .news-item:first-child .views-field-field-hero-headline {
    max-width: 50%;
  }
}

body.page-news .view-news .news-item:first-child .views-field-field-hero-headline h2 {
  margin: 0;
  font-size: 20.8px;
  font-size: 1.3rem;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  body.page-news .view-news .news-item:first-child .views-field-field-hero-headline h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 960px) {
  body.page-news .view-news .news-item:first-child .views-field-field-hero-headline h2 {
    font-size: 2.2rem;
    font-weight: 800;
  }
}

body.page-news .view-news .news-item:first-child .views-field-view-node {
  position: absolute;
  bottom: 12px;
  bottom: 0.75rem;
  right: 24px;
  right: 1.5rem;
  text-transform: uppercase;
  padding: 0 48px;
  padding: 0 3rem;
  margin: 0;
  line-height: 2;
  -ms-transform: skewX(-36deg);
      transform: skewX(-36deg);
  background-color: #ffd100;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  body.page-news .view-news .news-item:first-child .views-field-view-node {
    bottom: 3rem;
  }
}

body.page-news .view-news .news-item:first-child .views-field-view-node > * {
  display: inline-block;
  -ms-transform: skewX(36deg);
      transform: skewX(36deg);
}

@media screen and (min-width: 720px) {
  body.page-news .view-news .news-item:first-child .views-field-view-node {
    font-size: 1.2rem;
  }
}

body.page-news .view-news .news-item:first-child .views-field-view-node a {
  color: #0c2340;
}

body.page-news .view-news .news-item:first-child .views-field-view-node a:focus, body.page-news .view-news .news-item:first-child .views-field-view-node a:hover {
  color: #3d4f66;
}

body.page-news .view-news .news-item:not(:first-child) {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

body.page-news .view-news .news-item:not(:first-child) > * {
  -ms-flex: 1 100%;
      flex: 1 100%;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-field-image-1 {
  -ms-flex-order: 0;
      order: 0;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-field-hero-headline {
  -ms-flex-order: 1;
      order: 1;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-created {
  -ms-flex-order: 2;
      order: 2;
  -ms-flex: 0 auto;
      flex: 0 auto;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-term-node-tid {
  -ms-flex-order: 2;
      order: 2;
  -ms-flex: 1 auto;
      flex: 1 auto;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-view-node {
  display: none;
}

@media screen and (max-width: 719px) {
  body.page-news .view-news .news-item:not(:first-child) {
    float: left;
    display: block;
    margin-right: 38.19822%;
    width: 100%;
  }
  body.page-news .view-news .news-item:not(:first-child):last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 720px) and (max-width: 959px) {
  body.page-news .view-news .news-item:not(:first-child) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  body.page-news .view-news .news-item:not(:first-child):last-child {
    margin-right: 0;
  }
  body.page-news .view-news .news-item:not(:first-child):nth-child(2n+1) {
    margin-right: 0;
  }
  body.page-news .view-news .news-item:not(:first-child):nth-child(2n+2) {
    clear: left;
  }
}

@media screen and (min-width: 960px) {
  body.page-news .view-news .news-item:not(:first-child) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  body.page-news .view-news .news-item:not(:first-child):last-child {
    margin-right: 0;
  }
  body.page-news .view-news .news-item:not(:first-child):nth-child(3n+1) {
    margin-right: 0;
  }
  body.page-news .view-news .news-item:not(:first-child):nth-child(3n+2) {
    clear: left;
  }
}

body.page-news .view-news .news-item:not(:first-child) .views-field-field-hero-headline {
  background-image: url(../../images/optimized/arrow.svg);
  background-repeat: no-repeat;
  background-size: 0.6rem;
  background-position-y: 4.8px;
  background-position-y: 0.3rem;
  padding-left: 19.2px;
  padding-left: 1.2rem;
  margin-top: 12px;
  margin-top: 0.75rem;
  display: -ms-flexbox;
  display: flex;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-field-hero-headline h2 {
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 600;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-created,
body.page-news .view-news .news-item:not(:first-child) .views-field-term-node-tid {
  font-size: 14.4px;
  font-size: 0.9rem;
  color: #ffd100;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-created {
  margin-left: 19.2px;
  margin-left: 1.2rem;
  margin-right: 6px;
  margin-right: 0.375rem;
}

body.page-news .view-news .news-item:not(:first-child) .views-field-term-node-tid:before {
  content: '- ';
}

body.page-news .view-news .news-item img {
  width: 100%;
}

.block-views-block-tabelle-block-1 {
  padding: 24px;
  padding: 1.5rem;
}

.block-views-block-tabelle-block-1 h2 {
  background-color: #ffd100;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: #0c2340;
  display: inline-block;
  padding: 5px 60px 5px 10px;
  margin-bottom: 5px;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 600;
}

.block-views-block-tabelle-block-1 table {
  margin: 0;
}

.block-views-block-tabelle-block-1 table th,
.block-views-block-tabelle-block-1 table td {
  padding: 0;
}

.block-views-block-tabelle-block-1 table thead th {
  color: #0c2340;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 5px;
  width: calc(100% + 5px);
}

.block-views-block-tabelle-block-1 table thead th span {
  display: block;
  line-height: 2;
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -webkit-clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -moz-clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -ms-clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  background-color: #fff;
}

.block-views-block-tabelle-block-1 table thead th:first-child span {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
}

.block-views-block-tabelle-block-1 table thead th:last-child span {
  clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
}

.block-views-block-tabelle-block-1 table thead th:nth-of-type(2) {
  width: 70%;
}

.block-views-block-tabelle-block-1 table thead th:nth-of-type(2) span {
  padding-left: 24px;
  padding-left: 1.5rem;
}

.block-views-block-tabelle-block-1 table td.views-field-field-platz {
  font-size: 20px;
}

.block-views-block-tabelle-block-1 table td.views-field-field-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.block-views-block-tabelle-block-1 table td {
  padding: 0;
}

.block-views-block-tabelle-block-1 table td img {
  background-color: #fff;
  width: 200px;
  height: 100px;
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
  -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
  -moz-clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
  -ms-clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
}