@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script:400');

$base-font-family: 'Open Sans', sans-serif
$heading-font-family: $base-font-family
$script-font-family: 'Kaushan Script', sans-serif

$font-size:     16px
$font-size-h1: 2.0rem
$font-size-h2: 1.5rem
$font-size-h3: 1.3rem

$font-size-title: 1.1rem

// Font Sizes
$base-font-size: $font-size

// Line height
$base-line-height: 1.5
$heading-line-height: 1.3

// Letter spacing
$base-letter-spacing: 0.03em
$base-spacing: $base-line-height * 1rem
$small-spacing: $base-spacing / 2

// Typographic styles
body
  color: $base-font-color
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height
  letter-spacing: $base-letter-spacing

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  font-size: $base-font-size
  line-height: $heading-line-height
  margin: 0 0 $small-spacing
  text-transform: uppercase
  font-weight: bold

  a
    color: inherit

h1
  font-size: $font-size-h1
  font-weight: 800
  @include media($medium-screen-up)
    font-size: $font-size-h1 * 1.3

h2
  font-size: $font-size-h2

h3
  font-size: $font-size-h3

h4
  font-size: 1.2rem

h5
  font-size: 1.1rem

p
  margin: 0 0 $small-spacing

a
  color: $action-color
  text-decoration: none
  transition: color $base-duration $base-timing

  &:active,
  &:focus,
  &:hover
    color: shade($action-color, 25%)

hr
  border-bottom: $base-border
  border-left: 0
  border-right: 0
  border-top: 0
  margin: $base-spacing 0

// Code
pre, code, tt
  font: 1em "andale mono", "lucida console", monospace
  line-height: 1.5

pre
  background-color: #efefef
  display: block
  padding: 5px
  margin: 5px 0
  border: 1px solid #aaaaaa

// Abbreviation
abbr
  border-bottom: 1px dotted #666666
  cursor: help
  white-space: nowrap