<div class='livescore'>
  <div class='score_notes'>
    <div class='scores'></div>
    <div class='notes'></div>
  </div>
<!--  <button id="autoreload" class="highlighted"> Auto Reload </button> -->
</div>
