<div>
  <form id="livescore-search" accept-charset="UTF-8">
    <label for="search-text" class="visually-hidden">Search</label>
    <input class="search-form__submit button js-form-submit form-submit" type="submit" value="Search" />
  </form>
  <div class='livescore'></div>
</div>