<div>
<form id="giphys-search" accept-charset="UTF-8">
<label for="giphys-search-text" class="visually-hidden">Search</label>
<input id="giphys-search-text" class="required" title="Enter the terms you wish to search for." type="search" value="" size="15" maxlength="128" required="required" aria-required="true" />
<input class="search-form__submit button js-form-submit form-submit" type="submit" value="Search" />
</form>
<ul class="giphys-list"></ul>
</div>
